@media (max-width:1200px) {
    .image-section {
        display: none;
    }
}

@media (max-width:520px) {
    .container{
        flex-direction: column;
        height: 80vh;
        position: absolute;
    }
    .image-section {
        display: none;
    }
    .marca img {
        width: 316px;
    }
    h2 {
        font-size: 28px;
    }
    label{
        font-size: 16px;
    }
    input[type="text"] {
        padding: 5px;
        border: 3px solid #85858575;
    }
    button {
        padding: 10px;
        font-size: 18px;
    }
    .alternative-login h3 {
        font-size: 20px;
    }
    .alternative-login a {
        font-size: 17px;
    }
    .help-links a {
        font-size: 16px;
    }
}