@media (max-width:520px) {
    .container{
        flex-direction: column;
        height: 90vh;
        position: absolute;
    }
    .image-section {
        display: none;
    }
    .logo img {
        width: 316px;
    }
}