@media (max-width: 1200px) {
    .logo {
        width: 195px;
    }
    
    .cabecalho .menu {
        height: 100%;
        gap: 15px;
    }
    
    .cabecalho nav {
        padding: 0 3.5vw 0 15px;
    }
    
    .cabecalho nav li {
        font-weight: 500;
        font-size: 14px;
        padding: 5px 12px;
    }
    
    .logotipo {
        width: 100%;
    }
    
    .logotipo svg {
        opacity: 1;
        display: block;
    }
    
    #dark-mode-toggle {
        top: 20px;
        right: 20px;
    }
    
    #dark-mode-toggle img {
        width: 24px;
        height: 24px;
    }
    
    
    .calendar-container {
        padding: 10px;
        border-radius: 25px;
    }
    
    span {
        font-size: 24px;
        font-weight: 500;
    }
    
    .year-navigation {
        margin-bottom: 6px;
    }
    
    .year-navigation button {
        padding: 10px;
        border: none;
        border-radius: 35px;
    }
    
    .year-navigation button svg {
        width: 12px;
        height: 12px;
    }
    
    .months-grid {
        gap: 6px;
    }
    
    .month {
        align-items: center;
    }
    
    .month-title {
        font-weight: 500;
        align-self: center;
        margin-bottom: 4px;
    }
    
    .weekdays {
        font-size: 16px;
        font-weight: 400;
    }
    
    .days {
        gap: 4px;
    }
    
    .day {
        font-size: 12px;
    }
}
@media (max-width: 780px) {
    .calendar-container {
        width: 660px;
        padding: 10px;
        border-radius: 25px;
    }
    
    span {
        font-size: 20px;
        font-weight: 500;
    }
    
    .year-navigation {
        margin-bottom: 6px;
    }
    
    .year-navigation button {
        padding: 10px;
        border: none;
        border-radius: 35px;
    }
    
    .year-navigation button svg {
        width: 12px;
        height: 12px;
    }
    
    .months-grid {
        gap: 6px;
    }
    
    .month-title {
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 4px;
    }
    
    .weekdays {
        font-size: 11px;
        font-weight: 400;
        gap: 3px;
    }
    
    .days {
        gap: 3px;
    }
    
    .day {
        font-size: 8px;
        padding: 5px;
    }
}

@media (max-width: 520px) {
    .calendar-container {
        width: 380px;
        padding: 10px;
        border-radius: 25px;
    }
    .months-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .month {
        padding: 8px;
    }

    .month-title {
        width: 100%;
        font-weight: 500;
        margin-bottom: 4px;
    }

    .days {
        width: 15%;
        gap: 2px;
    }

    .day {
        font-size: 10px;
        padding: 4px;
    }
}