@media (max-width: 1200px) {
    .logo {
        width: 195px;
    }
    .cabecalho .menu {
        height: 100%;
        gap: 15px;
    }
    .cabecalho nav {
        padding: 0 3.5vw 0 15px;
    }
    .cabecalho nav li {
        font-weight: 500;
        font-size: 14px;
        padding: 5px 12px;
    }
    .logotipo {
        width: 100%;
    }
    .logotipo svg {
        opacity: 1;
        display: block;
    }
    
    #dark-mode-toggle {
        top: 20px;
        right: 20px;
    }
    #dark-mode-toggle img {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 780px) {
    body{
        height: 100%;
    }
    main {
        height: 100%;
        margin: 0 0 50px;
    }
    .add-form-button {
        position: fixed;
        bottom: 10px;
    }
    .forms {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
    form {
        width: 560px;
    }
    fieldset {
        padding: 4px;
    }
    label {
        font-size: 16px;
    }
    input, select {
        width: 72%;
    }
    .edit-button, .delete-button, .submit-button {
        width: 125px;
        height: 20px;
        font-size: 16px;
        font-weight: 600;
    }
    .buttons {
        padding: 7px 0 0;
    }
}

@media (max-width: 550px) {
    main {
        height: 100%;
        margin: 0 0 50px;
    }
    .add-form-button {
        position: fixed;
        bottom: 10px;
    }
    .forms {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
    form {
        width: 350px;
    }
    fieldset {
        padding: 4px;
    }
    label {
        font-size: 12px;
    }
    input, select {
        width: 68%;
    }
    .edit-button, .delete-button, .submit-button {
        width: 90px;
        height: 10px;
        font-size: 16px;
        font-weight: 600;
    }
}