@media (max-width: 1200px) {
    .image {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .container {
        height: auto;
        width: 720px;
    }
    .image {
        margin-bottom: 5px;
    }
    .cabecalho .menu {
        gap: 8px;
    }
    .cabecalho nav li {
        padding: 6px 13px;
    }
    ul {
        gap: 5px;
        justify-content: center;
        padding: 0 0 0 0;
    }
}
@media (max-width: 780px) {
    header {
        flex-direction: column;
    }

    .logo {
        width: 195px;
    }
    .cabecalho .menu {
        height: 100%;
        gap: 15px;
    }
    .cabecalho nav {
        display: none;
        padding: 0 3.5vw 15px 15px;
    }
    .cabecalho nav li {
        font-weight: 500;
        font-size: 13px;
        padding: 4px 9px;
    }
    .logotipo {
        width: 100%;
    }
    .logotipo svg {
        opacity: 1;
        display: block;
    }
    main {
        height: 100vh;
        padding: 5px;
    }
    .container {
        height: auto;
        width: 90vw;
        padding: 10px 8px;
        border-radius: 32px ;
        gap: 15px;
    }
    i {
        border: 5px solid #59595966;
        border-radius: 25px;
        width: 250px;
        height: 38px;
        margin-bottom: 4px;
    }
    input[type="search"] {
        width: 200px;
        height: 20px;
    }
    ::-webkit-input-placeholder {
        font-size: 15px;
    }
    .image-container {
        position: relative;
    }
    .image {
        border-radius: 25px;
        width: 100%;
    }
    .loc {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 3;
        width: 48px;
        height: 48px;
        border: rgba(0, 0, 0, 0.45) solid 3px;
        border-radius: 30px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.65);
    }
    .loc img {
        width: 32px;
        height: 32px;
        border-radius: 30px;
    }
    .text {
        padding: 0 15px 10px 15px;
    }
    .text h3 {
        font-size: 16px;
        font-weight: 500;
    }
    #dark-mode-toggle {
        top: 20px;
        right: 20px;
    }
    #dark-mode-toggle img {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 500px) {
    .modal .fechar-modal {
        width: 30px;
        line-height: 30px;
    }
    
    .modal iframe {
        width: 370px;
        height: 280px;
    }
}
    
@media (max-width: 376px) {
    .modal iframe {
        width: 330px;
        height: 230px;
    }
}